* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3b3b3b;
    color: #ffffff;
}

a {
    text-decoration-line: none;
    color: #ffffff;
}

.addArticle {
    background-color: #3b3b3b;
    text-align: center;
    padding: 25px;
    text-decoration-line: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 15px;
    margin-top: 20px;
}

.addArticle:hover {

    background-color: #262626;
}

.addArticleForm {
    padding: 25px;
    border-radius: 15px;
    border: 3px rgba(2, 241, 241, 0.7) solid;
    background-color: #525252;
}

.allArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #525252;
    text-align: center;
    width: 20%;
    color: #ffffff;
    border-right: ridge 3px rgba(2, 241, 241, 0.7);
    font-weight: bold;
    border-radius: 15px;
    font-size: 1em;
}

.allArticle a {
    padding: 15px;
}

.allArticle a:hover {
    color: #adadad;
}

.articles {
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    text-align: center;
    width: 99.99%;
    color: #ffffff;
    background-color: #525252;
    border-right: ridge 3px rgba(2, 241, 241, 0.7);
    border-left: ridge 3px rgba(2, 241, 241, 0.7);
    border-radius: 15px;
}

.articleAndComment {
    width: 70%;
    margin: 5%;

}

.header {
    width: 100%;
    height: 200px;
    background-image: url(../media/header.gif);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: end;
    align-items: end;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu a {
    border: solid 3px #000000;
    padding: 20px;
    text-decoration-line: none;
    color: #eeeeee;
    background-color: #3b3b3b;
}

.menu a:hover {
    background-color: #1e1e1e;
    color: #ffffff;
    border: ridge 3px rgba(2, 241, 241, 0.7);
}

.alert-succes {
    background-color: #028638;
    text-align: center;
    font-weight: bold;
    color: #fffefe;
    border-radius: 15px;
    padding: 4px;
}

.alert-error {
    background-color: #ce5252;
    text-align: center;
    font-weight: bold;
    color: #fffefe;
    border-radius: 15px;
    padding: 4px;
}


.article {
    background-color: #646464;
    padding: 5px;
    border-radius: 15px;
    border: 0.5px rgba(2, 241, 241, 0.7) solid;
    margin: 15px;
    word-break: break-word;
}

.commentArticle {
    background-color: #646464;
    padding: 5px;
    width: 80%;
    border-radius: 15px;
    border: 0.5px #3b3b3b solid;
    margin: 15px;
    word-break: break-word;
}

.commentArticle:hover {
    background-color: #777676;
    cursor: pointer;
    border-radius: 15px;
    border: 0.5px rgba(2, 241, 241, 0.7) solid;
    margin: 15px;
}

.submit {
    background-color: #3b3b3b;
    border: none;
    cursor: pointer;
}

.user {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}

.userData {
    background-color: #777676;
    text-align: center;
    width: 30%;
    border-radius: 15px;
    border: 3px rgba(2, 241, 241, 0.7) solid;
    color: #eedfdf;
    margin: 50px;
}

.userData h1, h4, p, a {
    padding: 10px;
}

.userData a  {
    color: #09d7d7;
    font-size: 1.5em;
}

.userData a:hover {
    color: #06ffff;
}

.form table,td,th,tr {
    color: #eedfdf;
    margin: 50px;
    border: none;
}

.userList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #777676;
    text-align: center;
    width: 40%;
    border-radius: 15px;
    border: 3px rgba(2, 241, 241, 0.7) solid;
    color: #eedfdf;
    margin: 50px;
}

.bannedList {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #777676;
    text-align: center;
    width: 40%;
    border-radius: 15px;
    border: 3px rgba(2, 241, 241, 0.7) solid;
    color: #eedfdf;
    margin: 50px;
}
.userInteraction {
    border-bottom: 3px solid black;
    width: 80%;
    margin-bottom: 15px;
}

table, tr, th,td {
    text-align: center;
    border-collapse: collapse;
    width: 50%;
}

.footer {
    width: 99.99%;
    height: 200px;
    text-align: center;
    background-image: url(../media/footer.gif);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    position: relative;
    bottom:0;
    margin-top: 100px;
}

body > .footer {
    display: table-row;
}

input {
    border-radius: 15px;
    color: black;
    height: 40px;
}

input[name=comment] {
    width: 500px;
}

input[type=submit] {
    background-color: #575757;
    color: white;
    cursor: pointer;
    padding: 2px;
}

input[type=submit]:hover {
    background-color: black;
    border: 3px rgba(2, 241, 241, 0.7) solid;
}

#debanned:hover {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='27' height='32' viewport='0 0 100 100' style='fill:black;font-size:16px;'><text y='50%'>🔑</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

.alert-succes, .alert-error {


    animation: fade 3s steps(90) forwards;
    -webkit-animation: fade 3s steps(90) forwards;
    -moz-animation: fade 3s steps(90) forwards;

}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.0;
    }
}

@media screen and (max-width: 720px)
{
    .addArticle {
        font-size: 1em;
        text-decoration-line: none;
        color: #ffffff;
        font-weight: bold;
        border-radius: 15px;
        margin-top: 20px;
    }

    .addArticle:hover {

        background-color: #262626;
    }

    .addArticleForm {
        width: 95%;
        padding: 1px;
        border-radius: 15px;
        border: 3px rgba(2, 241, 241, 0.7) solid;
        background-color: #525252;
    }

    .form {
        text-align: center;
    }

    textarea {
        width: 100%;
    }

    .allArticle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        background-color: #525252;
        text-align: center;
        width: 35%;
        color: #ffffff;
        border-right: ridge 3px rgba(2, 241, 241, 0.7);
        font-weight: bold;
        border-radius: 15px;
        font-size: 0.5em;
    }

    .allArticle h1 {
        margin-top: 10%;
        margin-bottom: 15%;
    }

    .allArticle a {
        padding: 15px;
    }

    .allArticle a:hover {
        color: #adadad;
    }

    .articles {
        margin-top: 50px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-around;
        text-align: center;
        width: 99.99%;
        color: #ffffff;
        background-color: #525252;
        border-right: ridge 3px rgba(2, 241, 241, 0.7);
        border-left: ridge 3px rgba(2, 241, 241, 0.7);
        border-radius: 15px;
    }

    .articleAndComment {
        width: 60%;
        margin: 5%;
    }

    .header {
        width: 100%;
        height: 200px;
        background-image: url(../media/header.gif);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: start;
        align-items: center;
    }

    .menu {
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .menu a {
        font-size: 0.7em;
        border: solid 3px #000000;
        padding: 5px;
        text-decoration-line: none;
        color: #eeeeee;
        background-color: #3b3b3b;
    }

    .menu a:hover {
        background-color: #1e1e1e;
        color: #ffffff;
        border: ridge 3px rgba(2, 241, 241, 0.7);
    }

    .alert-succes {
        background-color: #028638;
        text-align: center;
        font-weight: bold;
        color: #fffefe;
        border-radius: 15px;
        padding: 4px;
    }

    .alert-error {
        background-color: #ce5252;
        text-align: center;
        font-weight: bold;
        color: #fffefe;
        border-radius: 15px;
        padding: 4px;
    }


    .article {
        width: 100%;
        background-color: #646464;
        padding: 2px;
        border-radius: 15px;
        border: 0.5px rgba(2, 241, 241, 0.7) solid;
        margin: 1px;
        word-break: break-word;
        font-size: 0.8em;
    }

    .commentArticle {
        background-color: #646464;
        padding: 5px;
        width: 60%;
        border-radius: 15px;
        border: 0.5px #3b3b3b solid;
        margin: 15px;
        word-break: break-word;
    }

    .commentArticle:hover {
        background-color: #777676;
        cursor: pointer;
        border-radius: 15px;
        border: 0.5px rgba(2, 241, 241, 0.7) solid;
        margin: 15px;
    }

    .submit {
        background-color: #3b3b3b;
        border: none;
        cursor: pointer;
    }

    .user {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 100px;
    }

    .userData {
        background-color: #777676;
        text-align: center;
        width: 80%;
        border-radius: 15px;
        border: 3px rgba(2, 241, 241, 0.7) solid;
        color: #eedfdf;
        margin: 50px;
    }

    .userData h1, h4, p, a {
        padding: 10px;
    }

    .userData a  {
        color: #09d7d7;
        font-size: 1.5em;
    }

    .userData a:hover {
        color: #06ffff;
    }

    .form table,td,th,tr {
        color: #eedfdf;
        margin: 20px;
        border: none;
    }

    .userList {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #777676;
        text-align: center;
        width: 80%;
        border-radius: 15px;
        border: 3px rgba(2, 241, 241, 0.7) solid;
        color: #eedfdf;
        margin: 50px;
    }

    .bannedList {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #777676;
        text-align: center;
        width: 80%;
        border-radius: 15px;
        border: 3px rgba(2, 241, 241, 0.7) solid;
        color: #eedfdf;
        margin: 50px;
    }
    .userInteraction {
        border-bottom: 3px solid black;
        width: 80%;
        margin-bottom: 15px;
    }

    table, tr, th,td {
        text-align: center;
        border-collapse: collapse;
        width: 50%;
    }

    .footer {
        width: 99.99%;
        height: 200px;
        text-align: center;
        background-image: url(../media/footer.gif);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #ffffff;
        position: relative;
        bottom:0;
        margin-top: 100px;
    }

    body > .footer {
        display: table-row;
    }

    input {
        border-radius: 15px;
        color: black;
        height: 40px;
    }

    input[name=comment] {
        width: 150px;
    }

    input[type=submit] {
        background-color: #575757;
        color: white;
        cursor: pointer;
        padding: 2px;
    }

    input[type=submit]:hover {
        background-color: black;
        border: 3px rgba(2, 241, 241, 0.7) solid;
    }
}
