* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    background-color: #3b3b3b;
}

a {
    text-decoration-line: none;
    color: #ffffff;
}

.addArticle {
    background-color: #3b3b3b;
    text-align: center;
    padding: 25px;
    text-decoration-line: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 15px;
    margin-top: 20px;
}

.addArticle:hover {

    background-color: #262626;
}

.addArticleForm {
    padding: 25px;
    border-radius: 15px;
    border: 3px rgba(2, 241, 241, 0.7) solid;
}

.allArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #525252;
    text-align: center;
    width: 20%;
    color: #ffffff;
    border-right: ridge 3px rgba(2, 241, 241, 0.7);
    font-weight: bold;
    border-radius: 15px;
    font-size: 1em;
}

.allArticle a {
    padding: 15px;
}

.allArticle a:hover {
    color: #adadad;
}

.articles {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    text-align: center;
    width: 80%;
    color: #ffffff;
    background-color: #525252;
    border-right: ridge 3px rgba(2, 241, 241, 0.7);
    border-left: ridge 3px rgba(2, 241, 241, 0.7);
    border-radius: 15px;
}

.articleAndComment {
    width: 70%;
    margin: 5%;

}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    float: left;
}

.menu a {
    border: solid 3px #000000;
    padding: 10px;
    text-decoration-line: none;
    color: #eeeeee;
    background-color: #3b3b3b;
}

.menu a:hover {
    background-color: #1e1e1e;
    color: #ffffff;
    border: ridge 3px rgba(2, 241, 241, 0.7);
}

.alert-succes {
    background-color: #028638;
    color: #fffefe;
    text-align: center;
    font-weight: bold;
}

.alert-error {
    background-color: #ce5252;
    color: #fffefe;
    text-align: center;
    font-weight: bold;
}

.article {
    background-color: #646464;
    padding: 5px;
    border-radius: 15px;
    border: 0.5px rgba(2, 241, 241, 0.7) solid;
    margin: 15px;
    word-break: break-word;
}

.commentArticle {
    background-color: #646464;
    padding: 5px;
    width: 80%;
    border-radius: 15px;
    border: 0.5px #3b3b3b solid;
    margin: 15px;
    word-break: break-word;
}

.commentArticle:hover {
    background-color: #777676;
    cursor: pointer;
    border-radius: 15px;
    border: 0.5px rgba(2, 241, 241, 0.7) solid;
    margin: 15px;
}

.submit {
    background-color: #3b3b3b;
    border: none;
    cursor: pointer;
}

.user {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.userData {
    background-color: #777676;
    text-align: center;
    width: 30%;
    border-radius: 15px;
    border: 3px rgba(2, 241, 241, 0.7) solid;
    color: #eedfdf;
    margin: 50px;
}

.userData h1, h4, p, a {
    padding: 10px;
}

.userData a  {
    color: #09d7d7;
    font-size: 1.5em;
}

.userData a:hover {
    color: #06ffff;
}

.form table,td,th,tr {
    color: #eedfdf;
    margin: 50px;
    border: none;
}

.userList {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #777676;
    text-align: center;
    width: 50%;
    border-radius: 15px;
    border: 3px rgba(2, 241, 241, 0.7) solid;
    color: #eedfdf;
    margin: 50px;
}

.bannedList {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #777676;
    text-align: center;
    width: 50%;
    border-radius: 15px;
    border: 3px rgba(2, 241, 241, 0.7) solid;
    color: #eedfdf;
    margin: 50px;
}
.userInteraction {
    border-bottom: 3px solid black;
    width: 80%;
    margin-bottom: 15px;


}

table, tr, th,td {
    text-align: center;
    border-collapse: collapse;
    width: 80%;
}

#debanned:hover {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='27' height='32' viewport='0 0 100 100' style='fill:black;font-size:16px;'><text y='50%'>🔑</text></svg>") 16 0,auto; /*!emojicursor.app*/
}